java-client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="AccountsList">
<part name="parameters" element="tns:AccountsList"/>
</message>
<message name="AccountsListResponse">
<part name="parameters" element="tns:AccountsListResponse"/>
</message>
<message name="GetSymbols">
<part name="parameters" element="tns:GetSymbols"/>
</message>
<message name="GetSymbolsResponse">
<part name="parameters" element="tns:GetSymbolsResponse"/>
</message>
<message name="GetAccount">
<part name="parameters" element="tns:GetAccount"/>
</message>
<message name="GetAccountResponse">
<part name="parameters" element="tns:GetAccountResponse"/>
</message>
<portType name="BankWS">
<operation name="Convert">
<input wsam:Action="http://ws/BankWS/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://ws/BankWS/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="AccountsList">
<input wsam:Action="http://ws/BankWS/AccountsListRequest" message="tns:AccountsList"/>
<output wsam:Action="http://ws/BankWS/AccountsListResponse" message="tns:AccountsListResponse"/>
</operation>
<operation name="GetSymbols">
<input wsam:Action="http://ws/BankWS/GetSymbolsRequest" message="tns:GetSymbols"/>
<output wsam:Action="http://ws/BankWS/GetSymbolsResponse" message="tns:GetSymbolsResponse"/>
</operation>
<operation name="GetAccount">
<input wsam:Action="http://ws/BankWS/GetAccountRequest" message="tns:GetAccount"/>
<output wsam:Action="http://ws/BankWS/GetAccountResponse" message="tns:GetAccountResponse"/>
</operation>
</portType>
<binding name="BankWSPortBinding" type="tns:BankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetSymbols">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankServiceService">
<port name="BankWSPort" binding="tns:BankWSPortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>